---
import { generateSVGBanner, type BlogPost, type BannerImageConfig } from '~/utils/bannerGenerator';

interface Props {
  post: BlogPost;
  config?: BannerImageConfig;
  className?: string;
}

const { post, config = {
  width: 1200,
  height: 630,
  style: 'modern',
  colorScheme: 'gradient'
}, className = '' } = Astro.props;

const svgContent = generateSVGBanner(post, config);
---

<div class={`banner-container ${className}`}>
  <div class="aspect-video rounded-lg overflow-hidden">
    <div class="banner-svg" set:html={svgContent}></div>
  </div>
</div>

<style>
  .banner-container {
    width: 100%;
    height: 100%;
  }
  
  .banner-svg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner-svg svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .banner-svg svg text {
      font-size: 0.8em;
    }
  }
</style>
